<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="assets/img/favicon.svg">
    <meta name="author" content="Weslley Holanda Santos">
    <!-- shorthand ternario (?=if :=else) -->

    <title></title>
    <!-- Reset -->
    <link rel="stylesheet" href="../../public/assets/css/reset.css">
    <!-- Slick -->
    <link rel="stylesheet" href="../../public/assets/css/slick.css" />
    <link rel="stylesheet" href="../../public/assets/css/slick-theme.css"/>
    <!-- Style -->
    <link rel="stylesheet" href="../../public/assets/css/style.css">
</head>

<section class="error">
    <div class="site">
        <div class="container">
            <h1>404</h1>
            <div class="info-Container">
                <h2>Desculpe! a página não foi encontrada aqui</h2>
                <p>Felizmente, como é principalmente um problema do lado do cliente, é relativamente fácil para os proprietários de sites corrigirem o erro 404. Este artigo explicará as possíveis causas do erro 404 e mostrará quatro métodos eficazes para resolvê-lo. Felizmente, como é principalmente um problema do lado do cliente</p>
                <input type="button" value="Voltar ao Inicio">
            </div>

        </div>
    </div>
</section>